{% extends "layout.html.twig" %}
{% block headtitle %}{{ parent() }}- Contact{% endblock %}
{% block body %}
    {% for message in app.session.flashbag.get('errorBook') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="col-md-12" style="padding-bottom: 30px;">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="car-title">Information</h5>
                    <p class="card-text">Vous avez une demande à formuler ou souhaitez faire une suggestion ? Prenez soin d'identifier l'interlocuteur le mieux adapté, votre demande n'en sera que mieux traitée ! </p>
                </div>
            </div>
        </div>
    </div>

    {% block form %}
        <div class="container">
            <form method="post">
                <div class="well" align="center">
                    {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_label(form.subject, 'Sujet', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.subject, {'attr' : {'class': 'foo'}}) }}
                            {{ form_errors(form.subject) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.name, {'attr' : {'class': 'foo'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, 'Adress Email', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.email, {'attr' : {'class': 'foo'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.message, 'Message', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.message, {'attr' : {'class': 'form-control-perso'}}) }}
                            {{ form_errors(form.message) }}
                        </div>

                    <div class="tickets" align="left">
                            <div class="form-group">
                                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </form>
        </div>
{% endblock %}
{% endblock %}