{% extends "layout.html.twig" %}
{% block headtitle %}{{ parent() }}- Index{% endblock %}
{% block body %}
   <div class="container">
       {% for message in app.session.flashbag.get('') %}
           <div class="alert alert-sucess" role="alert">
               {{ message }}
           </div>
       {% endfor %}
       <div class="col-md-12">
           <h3 class="title">Accueil</h3>
       </div>

       <div class="col-md-12">
           <div class="card text-center">
               <div class="card-body">
                   <h5 class="car-title">Bienvenue</h5>
                   <p class="card-text">L'équipe du Louvre vous shouaite une bonne navigation sur la plateform de réservation du Musée.</p>
                   <a href="{{ path('AppBundle_books') }}" class="btn btn-primary">Réservez-votre billet</a>
               </div>
           </div>
       </div>

       <div class="col-md-12" style="margin-top: 50px;">
           <div class="row">
               <div class="col-sm-12 col-lg-5">
                   <div class="card border-dark mb-3">
                       <div class="card-body text-dark">
                           <h6 class="card-title"> Les tarifs </h6>
                           <ul>
                               <li>Normal (dès 12 ans): 16€</li>
                               <li>Enfant (de 4 ans à 12 ans): 8€</li>
                               <li>Senior (dès 60 ans): 12€</li>
                               <li>Réduit (Sous conditions*): 10€</li>
                           </ul>
                           <p>* réservé aux catégories suivantes: étudiant, employé du musée, Ministère de la culture, militaire, sous présentation d'un justificatifs</p>
                           <h6 class="card-title"> Les moyens de paiements </h6>
                           <ul>
                               <li>EuroCard</li>
                               <li>MasterCard</li>
                           </ul>
                           <p>Données du paiment sécurisées par Stripe</p><br />
                       </div>
                   </div>
               </div>
                <div class="col-md-2"></div>
               <div class="col-sm-12 col-lg-5">
                   <div class="card border-dark mb-3">
                       <div class="card-body text-dark">
                           <h6 class="card-title"> Les billets </h6>
                           <ul>
                               <li>Journée* : Entrée dès l'ouverture</li>
                               <li>Demi-journée : Entrée dès 14h</li>
                           </ul>
                           <p>*Commande de billet journée impossible pour le jour même après 14h et pour les jours passés.</p>
                           <h6 class="card-title"> Les horaires </h6>
                           <ul>
                               <li>Fermés les 1er mai, 1er novembre, 25 décembre et le mardi</li>
                               <li>Tout les jours de 9h à 18h30*</li>
                               <li>Nocturnes tout les Mercredi et Vendredi jusqu'a 22h*</li>
                           </ul>
                           <p>* l'évacuation des salles commencera 30 minuttes avant les heures de fermeture.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <div id="carousel" class="carousel slide" data-ride="carousel">
           <ul class="carousel-indicators">
               <li data-target="#carousel" data-slide-to="0" class="active"></li>
               <li data-target="#carousel" data-slide-to="1"></li>
               <li data-target="#carousel" data-slide-to="2"></li>
           </ul>
           <div class="carousel-inner">
               <div class="carousel-item active">
                   <img src="{{ asset('img/louvre-carrousel-eugene-delacroix-la-lutte-de-jacob-avec-l-ange.jpg') }}" alt="Louvre" />
                   <div class="carousel-caption">
                        <p class="type_expo">Exposition</p>
                       <h2 class="title_expo">Une lutte <br />moderne</h2>
                       <p class="subtitle">De Delacroix à nos jours</p>
                       <p class="location">Du 11 avril au 23 juillet 2018</p>
                   </div>
               </div>
               <div class="carousel-item">
                   <img src="{{ asset('img/louvre-carrousel-eugene-delacroix-le-28-juillet-1830-la-liberte-guidant-le-peuple-detail.jpg') }}" alt="Louvre" />
                   <div class="carousel-caption">
                       <p class="type_expo">Exposition</p>
                       <h2 class="title_expo">Delacroix <br />(1798-1863)</h2>
                       <p class="subtitle">Réservation recommandée</p>
                       <p class="location">Du 29 mars au 23 juillet 2018</p>
                   </div>
               </div>
               <div class="carousel-item">
                   <img src="{{ asset('img/louvre-carrousel-evangiles-de-drogon-940x500.jpg') }}" alt="Louvre" />
                   <div class="carousel-caption">
                       <p class="type_expo">Exposition</p>
                       <h2 class="title_expo">Reliures <br />précieuses</h2>
                       <p class="subtitle">dans les collections de la BnF au musée du Louvre</p>
                       <p class="location">Du 1er novembre 2017 au 2 juillet 2018</p>
                   </div>
               </div>
           </div>
           <a class="carousel-control-prev" href="#carousel" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
           </a>
           <a class="carousel-control-next" href="#carousel" data-slide="next">
               <span class="carousel-control-next-icon"></span>
           </a>
       </div>
   </div>
        <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        </style>
{% endblock %}